<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4 mt-2">ユーザー登録</h1>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">ユーザー名</label>
                            <input class="form-control" type="text" name="username" id="username" required>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">メールアドレス</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">パスワード</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="usertype">アカウントの種類</label>
                            <select class="form-select" name="usertype" id="usertype" required>
                                <option value="" disabled selected>未選択</option>
                                <option value="player">プレイヤー</option>
                                <option value="sponsor">スポンサー</option>
                            </select>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="d-grid mt-4 mb-2">
                            <button class="btn btn-success">登録する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>